
.navbar-main {
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-inner {
  max-width: 1280px;
  margin: auto;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  font-weight: 700;
  font-size: 1.4rem;
  color: #0f172a;
  text-decoration: none;
}

.logo span {
  color: #38bdf8;
  font-size: 1.6rem;
}

/* HAMBURGER */
.hamburger {
  display: none;
  background: none;
  border: none;
}

.nav-links {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #0f172a;
  font-weight: 500;
}


.nav-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cart-icon {
  position: relative;
  color: #38bdf8;
}

.cart-icon span {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #38bdf8;
  color: white;
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 999px;
}

.login-btn {
  background: #38bdf8;
  color: white;
  padding: 8px 18px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 600;
}

.logout-btn {
  background: none;
  border: 1px solid #ef4444;
  color: #ef4444;
  padding: 6px 16px;
  border-radius: 999px;
}


.mobile-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}

.mobile-drawer {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  background: #fff;
  z-index: 1000;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.mobile-drawer.open {
  left: 0;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer-logo {
  font-weight: 700;
  font-size: 1.3rem;
}

.drawer-logo span {
  color: #38bdf8;
}

.drawer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 30px;
}

.drawer-links a {
  text-decoration: none;
  color: #0f172a;
  font-weight: 500;
}

.drawer-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.drawer-login {
  background: #38bdf8;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 999px;
}

.drawer-logout {
  border: 1px solid #ef4444;
  background: none;
  color: #ef4444;
  padding: 10px;
  border-radius: 999px;
}

/* Media Queries */
@media (max-width: 992px) {
  .nav-links,
  .nav-actions {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
